    @font-face {
        font-family: "Jikharev-Regular";
        src: local("Jikharev-Regular"), url("../fonts/Jikharev-Regular.ttf") format("ttf"), url("../fonts/Jikharev-Regular.woff") format("woff");
        font-weight: normal;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
    }
    
    .header {
        font-size: 1.500em;
        height: 100vh;
    }
    
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1em;
        height: 100%;
    }
    
    .logo-link {
        display: flex;
        width: 5.375em;
        height: 2.417em;
        font-size: 1em;
        text-decoration: none;
    }
    
    .logo-img {
        width: 1.875em;
        height: 1.917em;
        margin-top: 0.250em;
        display: block;
    }
    
    .logo-span {
        font-weight: bold;
        font-size: 1em;
        line-height: 1.208em;
        color: #000000;
        text-transform: uppercase;
        display: block;
    }
    
    .head {
        font-family: Jikharev-Regular, Regular;
        font-size: 2.000em;
        line-height: 1.3em;
        text-align: center;
        color: #DD0053;
        order: 1;
    }
    
    .phone {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        justify-content: center;
        align-items: center;
    }
    
    .phone-number {
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.208em;
        color: #000000;
    }
    
    .phone-number:hover {
        color: #999595;
        transition: 0.3s;
    }
    
    .phone-text-link {
        font-weight: 500;
        font-size: 0.583em;
        line-height: 0.708em;
        text-decoration-line: underline;
        color: #000000;
        margin-top: 0.417em;
    }
    
    .phone-text-link:hover {
        color: #999595;
        transition: 0.3s;
    }
    
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.250em;
        height: 0.833em;
        order: 2;
        font-size: 1em;
    }
    
    .menu-toggle span {
        height: 0.167em;
        width: 100%;
        background-color: black;
    }
    
    .head-nav.visible {
        display: block;
    }
    
    .head-nav {
        font-size: 1em;
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #FFC93C 0%, #F2AD27 100%);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
        height: 100vh;
    }
    
    .head-menu {
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }
    
    .head-menu-list {
        list-style: none;
    }
    
    .head-menu-link {
        text-decoration: none;
        font-weight: bold;
        font-size: 0.750em;
        text-align: center;
        color: #000000;
        display: block;
        text-transform: uppercase;
        padding: 1.5em 0;
    }
    
    .head-menu-link:hover {
        transition: 0.3s;
        color: rgb(0, 0, 0, 0.3);
    }
    
    .active {
        background: linear-gradient(180deg, #DD0053 0%, #A4164A 100%);
        box-sizing: border-box;
        font-weight: bold;
        font-size: 0.750em;
        text-align: center;
        color: #FFFFFF;
    }
    
    .active:hover {
        color: black;
        transition: 0.3s;
    }
    
    .head-nav-close {
        font-size: 1em;
        margin-left: 85%;
    }
    
    .head-nav-close-img {
        width: 1.667em;
        height: 1.667em;
    }
    
    .section-letter {
        height: 100vh;
        width: 100vw;
        background-color: #FBC035;
        text-align: center;
        background-image: url("../img/send-bg.svg");
        background-size: cover;
        font-size: 1em;
        padding: 1em 0;
    }
    
    .section-letter-head {
        margin-bottom: 1em;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.2em;
        text-align: center;
        color: #000000;
    }
    
    .letter {
        font-size: 1em;
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        border: 0.575em solid transparent;
        background: linear-gradient(#FEF6DF, #FEF6DF) padding-box, repeating-linear-gradient(-45deg, #CF5755 0, #CF5755 12.5%, #FEF6DF 0, #FEF6DF 25%, #5A799F 0, #5A799F 37.5%, #FEF6DF 0, #FEF6DF 50%) 0 / 5em 5em;
    }
    
    .letter-input {
        width: 80%;
        height: 10%;
        background: #FFFFFF;
        border: 1px solid #D0D0D0;
        box-sizing: border-box;
        border-radius: 0.313em;
    }
    
    .letter-input-user-tel {
        background-image: url(../img/letter-tel-img.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 0.688em;
        padding: 0.875em 0 0.875em 3.438em;
    }
    
    .letter-input-user-name {
        background-image: url(../img/letter-user-name-img.svg);
        background-repeat: no-repeat;
        padding: 0.813em 0 0.938em 3.500em;
        background-position-y: center;
        background-position-x: 0.750em;
    }
    
    .letter-input-user-message {
        height: 45%;
        padding-top: 0.688em;
        padding-left: 0.688em;
        font-size: 1.200em;
    }
    
    .letter-input-user-tel::-moz-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-name::-moz-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-tel::-webkit-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-tel:-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-tel::-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-tel::placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-name:-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-name::-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-name::placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-message::-moz-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-message::-webkit-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-message:-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-message::-ms-input-placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-user-message::placeholder {
        color: #D0D0D0;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.375em;
    }
    
    .letter-input-submit {
        border: none;
        background: linear-gradient(180deg, #FEF6DF 0%, #A4164A 100%);
        box-shadow: 0.125em 0.125em 0.188em rgba(0, 0, 0, 0.25);
        border-radius: 1.563em;
        width: 6.250em;
        height: 1.563em;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 1.500em;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    @media (min-width: 768px) {
        .header {
            height: 12.500em;
        }
        .header-content {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .head {
            width: 100%;
        }
        .phone {
            align-items: flex-end;
        }
        .section-letter {
            height: auto;
            text-align: unset;
            padding-bottom: 2.500em;
        }
        .section-letter-head {
            margin: 1.250em 0.969em;
            font-size: 2.000em;
            line-height: 1.219em;
        }
        .letter {
            display: block;
            width: 47.125em;
            height: 25.875em;
            padding: 2em 5.500em 8.000em;
            background: url("../img/letter-bg-img.svg") no-repeat, linear-gradient(#FEF6DF, #FEF6DF) padding-box, repeating-linear-gradient(-45deg, #CF5755 0, #CF5755 12.5%, #FEF6DF 0, #FEF6DF 25%, #5A799F 0, #5A799F 37.5%, #FEF6DF 0, #FEF6DF 50%) 0 / 5em 5em;
            background-position: left 1.250em bottom 1.500em;
        }
        .letter-input {
            margin-bottom: 0.625em;
            font-size: 1em;
        }
        .letter-input-user-tel {
            width: 16.500em;
            height: 3.125em;
            margin-right: 1.688em;
        }
        .letter-input-user-name {
            width: 16.500em;
            height: 3.125em;
        }
        .letter-input-user-message {
            width: 30.604em;
            height: 6.648em;
            font-size: 1.4em;
        }
        .letter-input-submit {
            width: 9.143em;
            height: 2.344em;
            font-size: 1.333em;
            line-height: 1.360em;
            text-transform: uppercase;
            margin-left: 16.973em;
        }
    }
    
    @media (min-width: 960px) {
        .header {
            height: auto;
        }
        .header-content {
            padding: 0.458em 0 0.417em;
        }
        .head {
            order: 0;
            width: auto;
        }
        .menu-toggle {
            display: none;
        }
        .head-nav-close {
            display: none;
        }
        .head-nav {
            display: block;
            height: 2.600em;
            position: unset;
            width: 100vw;
        }
        .head-menu {
            height: 100%;
            flex-direction: row;
        }
        .head-menu-link {
            padding: 0.333em 0.750em;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .promo {
            height: 100%;
            padding-left: 1.458em;
            color: #FFFFFF;
            position: relative;
            background: linear-gradient(180deg, #DF0054 0%, #A3003D 100%);
            margin-left: 1.667em;
        }
        .promo::before {
            width: 1.733em;
            height: 1.733em;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(135deg, #DF0054 0%, #A3003D 100%);
            transform: translate(-51.9%, 50.2%) scaleY(1.40) scaleX(1.5) rotate(45deg);
        }
        .promo:hover {
            color: black;
            transition: 0.3s;
        }
    }
    
    @media (min-width: 1200px) {
        .header-content {
            width: 47.750em;
            margin: 0 auto;
            justify-content: space-between;
        }
        .head-menu {
            width: 47.750em;
            margin: 0 auto;
        }
    }